<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/greatNumberGame.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/greatNumberGameStyles.css')}}">
  </head>
  <body>
    <div id="wrapper">
      <h1>Welcome to the Great Number Game!</h1>
      <h3>I am thinking of a number between 1 and 100</h3>
      <div id="result-box">
        <h3 id="number-reveal">{{session['number']}} was the number!</h3>
        <h3 id="result-phrase">{{session['phrase']}}</h3>
        <form action="/reset" method="post">
          <input type="submit" id="reset-button" value="Play again!">
        </form>

      </div>
      <br>
      <form action='/guess' method="post">
        <input type="text" name="guess">
        <input id="submit-button" type="submit" value="Submit">
      </form>
    </div>

  </body>
</html>
