<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="new-secret-area">
        <h1>Hello {{ user.first_name }}!</h1>
        <form id="new-secret-form" action="/new_secret/{{ user.id }}" method="post">
          {% csrf_token %}

          <textarea name="content" placeholder="Your secret here..."></textarea>
          <input type="submit" name="" value="Post">
          <span><a href="/most_popular">Most Popular Secrets</a></span>
        </form>
      </div>
      <div class="secrets-area">
        <h1>Recent Secrets</h1>
        {% for secret in secrets %}
          <p class="secret">{{secret.content}} ({{secret.created_at|timesince}} ago) {{secret.num_likes}} likes

            {% if secret.author.id == user.id %}
              <span class="user-posted-or-liked">You posted this <a href="/delete_secret/{{secret.id}}">Delete</a></span>
            {% elif user in secret.likes.all %}
              <span class="user-posted-or-liked">You liked this <a href="/unlike_secret/{{secret.id}}/{{user.id}}">Unlike</a></span>

            {% else %}
              <a href="/like_secret/{{secret.id}}/{{user.id}}">Like</a>
            {% endif %}

          </p>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
