*{
  font-family: sans-serif;
}
html,body, #controller-div, #view{
  /*margin: 0px;
  height: 100%;
  overflow: hidden;*/
}
body{
  padding-top: 30px;
}

#wrapper{
  width:80%;
  margin:0 auto;
  border: 2px solid black;
  padding: 15px;
  background-color: lightgray;
  box-sizing: border-box;
}

#view{
  border: 2px solid black;
  background-color: white;
  padding:20px;
}


button.playing.selected{
  background-color: green;
  color: white;
}

button.not-playing.selected{
  background-color: red;
  color: white;
}

button.undecided.selected{
  background-color: yellow;
}

table{
  border: 2px solid black;
  width: 100%;
}
