<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>1. Baseball Leagues</h1>
		<ol>
			{% for league in baseball_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


		<h1>2. Women's Leagues</h1>
		<ol>
			{% for league in womens_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


		<h1>3. Hockey Leagues</h1>
		<ol>
			{% for league in hockey_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


		<h1>4. All leagues except for football Leagues</h1>
		<ol>
			{% for league in non_football_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


		<h1>5. Conference Leagues</h1>
		<ol>
			{% for league in conference_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>6. Atlantic Region Leagues</h1>
		<ol>
			{% for league in atlantic_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>



		<h1>7. Teams based in Dallas</h1>
		<ol>
			{% for team in dallas_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>8. Teams teams named the Raptors</h1>
		<ol>
			{% for team in raptors_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>9. Teams whose location includes City</h1>
		<ol>
			{% for team in city_location_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>10. Teams whose name begins with T</h1>
		<ol>
			{% for team in t_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>11. Teams alphabetical by location</h1>
		<ol>
			{% for team in teams_alphabetical_by_location %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>12. Teams ordered reverse alphabetically by team name</h1>
		<ol>
			{% for team in teams__reverse_alphabetical_by_name %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


		<h1>13. Players with the last name Cooper</h1>
		<ol>
			{% for player in last_name_cooper_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>14. Players with the first name Joshua</h1>
		<ol>
			{% for player in first_name_joshua_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>15. Players with the last name Cooper except for Joshua</h1>
		<ol>
			{% for player in last_name_cooper_not_joshua_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1>15. Players with first name Alexander or Wyatt</h1>
		<ol>
			{% for player in alexander_or_wyatt_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>


	</body>
</html>
