<div ng-controller="registerController" id="wrapper">
  <h2 id="login-register-links"><a href="#!/login" ng-class="{selected: login}">Login</a> | <a href="#!/register" ng-class="{selected: !login}">Register</a></h2>

  <form ng-submit="registerUser()">
    <table>
      <tr>
        <td><label>Email:</label></td>
        <td><input type="text" name="email" ng-model="newUser.email" placeholder="Email"></td>
        <td>
          <span class="error-message" ng-if="errors.emailTaken">A user already exists with this email. Please log in.</span>
          <span class="error-message" ng-if="errors.email">{{errors.email}}</span>
        </td>
      </tr>
      <tr>
        <td><label>First Name:</label></td>
        <td><input type="text" name="first_name" ng-model="newUser.first_name" placeholder="First Name"></td>
        <td><span class="error-message" ng-if="errors.first_name">{{errors.first_name}}</span></td>
      </tr>
      <tr>
        <td><label>Last Name:</label></td>
        <td><input type="text" name="last_name" ng-model="newUser.last_name" placeholder="Last Name"></td>
        <td><span class="error-message" ng-if="errors.last_name">{{errors.last_name}}</span></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input type="password" name="password" ng-model="newUser.password" placeholder="Password"></td>
        <td><span class="error-message" ng-if="errors.password">{{errors.password}}</span></td>
      </tr>
      <tr>
        <td><label>Confirm:</label></td>
        <td><input type="password" name="password_confirmation" ng-model="password_confirmation" placeholder="Password Confirmation"></td>
        <td><span class="error-message" ng-if="errors.passwordConfirm">Passwords must match</span></td>
      </tr>
      <tr>
        <td><label>Birthday:</label></td>
        <td><input type="date" name="birthday" ng-model="newUser.birthday"></td>
        <td><span class="error-message" ng-if="errors.birthday">{{errors.birthday}}</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="align-right"><input type="submit" name="" value="Register"></td>
      </tr>
    </table>

  </form>

</div>
