<h1>Times#main</h1>
<p>Find me in app/views/times/main.html.erb</p>
<hr>

<div id="container">
  <div class="box">
    <p>The current time and date:</p>
  </div>
  <div class="box">
    <h1><%= @upper_time %><br><%= @lower_time %></h1>
  </div>
</div>
