*{
  margin: 0px;
  padding: 0px;
}

#wrapper{
  font-family: sans-serif;
}
#main{
  padding-top: 100px;
  padding-left: 27px;
}

#nav-bar{
  padding: 20px;
  border-bottom: 2px solid black;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.nav-bar-item{
  display: inline-block;
}

.right-item{
  position: fixed;
  top:24px;
}

#logout-link{
  right:40px;
}
#add-book-link{
  right:145px;
}

.content-section{
  width: 500px;
  /*border: 1px solid black;*/
  display: inline-block;
  height: 500px;
  vertical-align: top;
}
.inner-content{
  padding:20px;
}
.review{
  margin-bottom: 20px;
}
.review-inner{
  padding-left: 24px;
}
img{
  width: 28px;
  position: relative;
  top: 5px;
  z-index: 1;
}
p{
  margin:10px 0px;
}
#book-list{
  margin-top: 20px;
  margin-left: 20px;
  padding:5px;
  width: 300px;
  height:200px;
  display: inline-block;
  overflow-y: scroll;
  border: 2px solid black;
}
