<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BEEF</title>
  </head>
  <body>
    <h1>BEEFALICIOUS</h1>
    <table cellpadding=10>
      <% if (cows && cows.length > 0){ %>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% for(var x = 0; x < cows.length; x+=1){ %>
            <tr>
              <td><%= cows[x].name %></td>
              <td><%= cows[x].age %></td>
              <td><%= cows[x].weight %></td>
              <td><a href="/beef/<%= cows[x].id %>"><button>BEEF</button></a></td>
            </tr>
          <% } %>
        </tbody>
      <% } %>
    </table>
    <a href="/beef/new"><button>MORE BEEF</button></a>

  </body>
</html>
