<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Beef</title>
  </head>
  <body>
    <h1>BEEFINATOR</h1>
    <form action="/beef" method="post">
      <input type="text" name="name" value="" placeholder="Name">
      <input type="number" name="age" value="" placeholder="Age">
      <input type="number" name="weight" value="" placeholder="Weight">
      <input type="submit" name="" value="NEW BEEF!">
    </form>
    <br>
    <a href="/"><button>BACK TO BEEFALICIOUS</button></a>
  </body>
</html>
