<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="post">
      <label>Your name: </label>
      <input type="text" name="name" value="">
      <br>
      <label>Your quote: </label>
      <textarea name="quote" rows="8" cols="80"></textarea>
      <br>
      <input type="submit" name="" value="Add my quote!">
      <a href="/quotes"><button type="button" name="button">Skip to quotes!</button></a>

    </form>
  </body>
</html>
